<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
						</div>
						<div class="columns pull-right" role="group">
							<button class="btn btn-success" onclick="reLoad()">
								<i class="fa fa-search" aria-hidden="true"></i>查询
							</button>
						</div>
						<div class="pull-right search col-md-2">
							<select id="scope" class="form-control">
								<option value="">全部范围</option>
								<option value="63">医生信息</option>
								<option value="64">医院信息</option>
								<option value="71">病人信息</option>
								<option value="73">版本信息</option>
								<option value="78">广告信息</option>
								<option value="81">支架信息</option>
								<option value="87">短新闻信息</option>
								<option value="95">合成任务信息</option>
								<option value="138">镜下会诊服务信息</option>
								<option value="167">字典信息</option>
							</select>
						</div>
						<div class="pull-right search col-md-2 nopadding">
							<input id="searchUsername" type="text" class="form-control"
								placeholder="用户">
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/sys/log/log.js"></script>
</body>
</html>